<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebHookHub.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
	  <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="DevPolaris" />
      </environmentVariables>
    </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 509d0fca-57a7-4fd9-8ac2-8fef67f478dd-->